body {
	width: 100%;
	height: 100%;
	color: darkslateblue;
}

h1 {
	font-size: 24px;
	font-family: 'Helvetica';
	letter-spacing: 1px;
    text-decoration: underline;
    margin-bottom: 10px;
}

.team {
    margin-top: 25px;
    font-size: 14px;
	font-family: 'Helvetica';
	margin-bottom: 15px;
    animation: fadein 4s;
}

#app-container {
	margin-left: 5px;
	width: 70%;
	height: 100%;
	background-color: white;
	display: flex;
	flex-direction: column;
	justify-content: left;
	align-items: left;
}

form {
	display: flex;
    flex-direction: column;
}

textarea {
	min-height: 100px;
	min-width: 200px;
	margin-bottom: 8px;
}

.error-text {
	color: maroon;
}

button {
	padding: 8px;
	color: white;
	background-color: darkslateblue;
	border: 1px solid white;
}

button:hover {
	background-color: darkslateblue;
	color: white;
	cursor: pointer;
}

button:focus {
	outline: none;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

